section.journal-list {
    .journal-list__list {
        min-height: 500px;
        display: flex;

        .col {
            min-height: 500px;
            flex: 1;
            margin-right: var(--padding);

            &:last-child {
                margin-right: 0;
            }

            @media only screen and (max-width: 680px) {
                margin-right: 0;
            }

            .item {
                display: block;
                font-size: var(--font-size-small);
                margin-bottom: var(--padding);
                font-weight: 400;
                text-decoration: none;
                border: 0;
                line-height: var(--line-height-body);

                &:hover {
                    opacity: 1;
                }

                @media only screen and (min-width: 680px) {
                    &:hover {
                        text-decoration: underline;

                        .label {
                            color: #00f;
                        }

                        .date {
                            color: #00f;
                        }
                    }
                }

                .date {
                    font-size: var(--font-size-small);
                    margin-bottom: .5em;
                }

                strong {
                    display: block;
                    margin-bottom: var(--padding-xsmall);
                    font-size: var(--font-size-medium);
                }
            }
        }
    }
}
