.error {
    section {
        .inner {
            div {
                overflow: hidden;
                color: var(--color-text);
                text-align: center;
                font-size: var(--font-size-header);
                font-weight: 500;
                background-image: url('/img/404.gif');
                background-position: center;
                background-size: cover;
                min-height: 50vw;
                display: flex;
                align-items: center;
                justify-content: center;

                @media only screen and (min-width: 680px) {
                    &:hover {
                        background-image: url('/img/404home.gif');
                    }
                }

                @media only screen and (max-width: 680px) {
                    min-height: auto;
                    height: 40vh;
                }
            }
        }
    }
}
