.home {
    section:first-child {
        h1 {
            margin-bottom: 1em;
            font-size: var(--font-size-h1);
            line-height: 1.5;
            font-weight: 500;
        }

        p {
            margin-bottom: 1em;
            font-size: var(--font-size-h1);
            line-height: 1.5;
            font-weight: 500;
        }
    }

    footer {
        bottom: 0;
        margin-bottom: 0;
    }

    &__portfolio {
        position: relative;
        left: 50%;
        margin: 0 -50vw;
        right: 50%;
        width: 100vw;
        padding: 0;

        .inner {
            padding: 0;
            margin: 0 auto;
            position: relative;
            width: 100%;

            video {
                cursor: pointer;
                width: 100%;
            }

            a {
                margin-left: 2em;
                user-select: none;
                display: inline-block;
                margin-top: 1em;
                cursor: pointer;
                font-weight: 600;
                border-bottom: 0;
            }
        }
    }
}
