.header {
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 1em 0;
    width: 100vw;
    position: relative;
    background: var(--color-background);

    .header__logo {
        font-size: var(--font-size-logo);
        text-decoration: none;
        border: 0;
        font-weight: 500;
        color: var(--color-text);
    }

    .inner {
        padding-top: var(--padding-small);
        padding-bottom: var(--padding-small);
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
}
