#home {

    section:first-child {

        h1 {
            margin-bottom: 1em;
            font-size: var(--font-size-h1);
            line-height: 1.5;
            font-weight: 500;
        }

        p {
            margin-bottom: 1em;
            font-size: var(--font-size-h1);
            line-height: 1.5;
            font-weight: 500;
        }

    }

    footer {
        bottom: 0;
        margin-bottom: 0;
    }

    #home__portfolio {
        .inner {
            margin: 0 auto;
            position: relative;
            width: 100%;

            video {
                width: 100%;
            }
        }
    }
}
